@font-face {
  font-family: "AdventPro";
  src: url(../fonts/Advent_Pro/AdventPro-Regular.ttf);
}
@font-face {
  font-family: "Bad_Script";
  src: url(../fonts/Bad_Script/BadScript-Regular.ttf);
}
@font-face {
  font-family: "Carter_One";
  src: url(../fonts/Carter_One/CarterOne-Regular.ttf);
}
@font-face {
  font-family: "Cookie";
  src: url(../fonts/Carter_One/Cookie-Regular.ttf);
}
@font-face {
  font-family: "Kalam";
  src: url(../fonts/Kalam/Kalam-Regular.ttf);
}
@font-face {
  font-family: "Kaushan_Script";
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
